/**************
* BASE STYLES *
**************/
body:has(#pipWindow) {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#pipWindow {
  height: 100%;
  width: 100%;

  background-color: var(--accent, var(--spice-main));

  display: grid;
  grid-template-rows: 25px 5px calc(100vh - 75px) 45px;

  & .icon-wrapper {
    aspect-ratio: 1 / 1;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;

    & .icon {
      width: 16px;
      height: 16px;
      fill: white;
    }

    &.circle {
      border-radius: 50%;
      background-color: white;

      & .icon {
        fill: var(--accent);
      }
    }
  }

  & #grabBar {
    -webkit-app-region: drag;
    cursor: grab;

    height: 25px;
    background-color: black;
    color: white;

    display: grid;
    grid-template-columns: 30px 1fr 30px;

    & :nth-child(2) {
      text-align: center;
    }

    & button {
      appearance: none;
      border: none;
      background: none;
    }
  }

  & #viewer {
    width: 100%;
    height: 100%;
    padding: 10px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  & #lilplayer-playback {
    width: 100%;

    & #playback-progress-wrapper {
      width: 100%;
      height: 5px;
      background-color: black;

      & #playback-progress {
        height: 5px;
        background-color: var(--accent);
      }
    }
  }

  & #lilplayer-controls {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

/***********
* GRAB BAR *
*    &     *
*  LAYOUT  *
***********/
/* @media (max-height: 180px) {
  #pipWindow {
    grid-template-columns: 25px 80px 1fr;
    grid-template-rows: 5px 1fr;

    & #grabBar {
      height: 100%;
      width: 25px;

      grid-template-rows: 30px 1fr 30px;
      grid-template-columns: 1fr;
      grid-row: span 2;

      & :nth-child(1) {
        order: 2;
      }
      & :nth-child(2) {
        order: 1;
        writing-mode: vertical-rl;
        letter-spacing: -10px;
        text-orientation: upright;
      }
      & :nth-child(3) {
        order: 0;
      }
    }

    & #lilplayer-playback {
      grid-column: span 2;
    }
  }
} */
